.login {
  background-color: #f2f2f2;
  height: 100vh;

  .login-section {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
    box-sizing: border-box;
    height: 90vh;
    padding: 10px 1em;
    top: 60px;

    &--title {
      margin: 1.5em 0;

      h4 {
        margin: 0;
        font-weight: 300;
      }
    }
  }

  .form-submission {

    p {
      margin: 0;
      padding: 0.6em 0em;
    }

    &--input {
      width: 100%;
      position: relative;
      display: inline-flex;
      -webkit-box-align: center;
      border-radius: 3px;
      padding-bottom: 10px;

      &--form {
        height: 45px;
        -webkit-box-flex: 1;
        flex-grow: 1;
        padding: 9.5px 9.5px 9.5px 1em;
        border: 1px solid rgb(232, 233, 235);
        border-image: initial;
        transition: all 0.3s ease 0s;
        border-radius: 3px;

        &:focus {
          border: 1px solid rgb(0, 174, 239);
          border-image: initial;
          outline: none;
        }
      }
    }
  }

  .button-wrap {
    width: 100%;
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    border-radius: 3px;
    padding-top: 1.5em;

    &--post {
      height: 45px;
      -webkit-box-flex: 1;
      flex-grow: 1;
      background-color: rgb(0, 174, 239);
      border: none;
      color: #f2f2f2;
      font-weight: 700;
      border-radius: 4px;
      transition: all 0.3s ease 0s;
      text-decoration: none;
      outline: none;

      &:hover {
        background-color: rgb(0, 104, 249);
      }
    }
  }
}