.header {
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 11;
  height: 60px;
  position: fixed;
  color: #fff;
  transition: background-color 0.35s ease-in 0s;
  background: rgb(0, 174, 239);
  border-bottom: none;

  &--content {
    display: flex;
    -webkit-box-align: center;
    max-width: 480px;
    height: 100%;
    z-index: 2;
    position: relative;
    margin: 0px auto;
    padding: 0px 1rem;
  }

  &--nav {
    font-size: 16px;
    display: flex;
    margin-right: 1.5em;
    cursor: pointer;
    position: relative;
    margin: auto 1em;
  }

  &--title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 5  00;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
    overflow: hidden;
    margin: auto 0;
  }
}